In [2]:
# import packages
import pandas as pd
import numpy as np

In [79]:
# import the necessary data (i.e. the measurements per crystal, per source)

BGO_Am241_1 = pd.read_csv('Data/BGO/Am241/GAMMA_Charge_Histo(Time 90)_06-09-23 Time 1423.csv', 
                         names = ['ADC channel', 'counts'],
                         nrows = 4000)
BGO_Am241_2 = pd.read_csv('Data/BGO/Am241/GAMMA_Charge_Histo(Time 90)_06-09-23 Time 1425.csv',  
                         names = ['ADC channel', 'counts'],
                         nrows = 4000)
BGO_Am241_3 = pd.read_csv('Data/BGO/Am241/GAMMA_Charge_Histo(Time 90)_06-09-23 Time 1427.csv',  
                         names = ['ADC channel', 'counts'],
                         nrows = 4000)

# make copies of original dataframes, to be put together into one, such that we don't alter the originals
Am241_1c = BGO_Am241_1.copy()
Am241_2c = BGO_Am241_2.copy()
Am241_3c = BGO_Am241_3.copy()

In [19]:
# we do wish to have errors in all measurements, we're not God after all

# make a function that averages out the counts per bin and gives the error as the larges difference between\
# the average and the measurement

def av_err(dataset_1, dataset_2, dataset_3 = []):
    """
    function has to work with 1 row at a time, such that it can loop through the data structure and average
    and find error
    """
    
    # we want to make a copy of dataframes, such that we don't work on the originals
    dataset1c = dataset_1.copy()
    dataset2c = dataset_2.copy()
#     dataset3c = dataset_3.copy()
    
    # we now create a larger dataframe that contains data from all three runs
    # let's add to the first one and call it a day
    dataset1c['run2'] = dataset2c['counts']
#     dataset1c['run3'] = dataset3c['counts']
    
    # we also want to create an average column and an error column
    dataset1c['average'] = dataset1c[['counts', 'run2',
#                                       'run3'
                                     ]
                                    ].apply(np.average, axis = 1,
                                                                        raw = True, 
                                                                        result_type = 'expand')
#     print(dataset1c.head()) #checkcheck

    dataset1c['error'] = dataset1c.apply(lambda x: np.max(np.abs([x.average - x.counts, x.average - x.run2, 
#                                                                   x.average - x.run3
                                                                 ])),
                                        axis = 1, result_type = 'expand')
    
    return dataset1c[['ADC channel', 'average', 'error']]

    # we want to now write a loop function that goes through each row of the object and inserts\
    # the average and error of the three measurements in their appropriate columns
    # NAH BRO! LOOPING IS FOR NEWBS

In [11]:
def savetocsv(daframe, dipath):
    '''
    dipath should be like "Data/BGO/Am241/BGO_Am241_final.csv"
    '''
    
    daframe.to_csv(dipath)

In [22]:
dataset1 = pd.read_csv('Data/CSI/Ba133/GAMMA_Charge_Histo(Time 20)_06-09-23 Time 1147.csv', 
                      names = ['ADC channel', 'counts'],
                      nrows = 5000)
dataset2 = pd.read_csv('Data/CSI/Ba133/GAMMA_Charge_Histo(Time 20)_06-09-23 Time 1148.csv',
                      names = ['ADC channel', 'counts'],
                      nrows = 5000)

In [23]:
av_err (dataset1, dataset2,[])

      ADC channel  average  error
0          -495.0      3.0    1.0
1          -485.0      3.0    0.0
2          -475.0      1.5    0.5
3          -465.0      2.0    1.0
4          -455.0      4.5    1.5
...           ...      ...    ...
1996      19465.0      0.0    0.0
1997      19475.0      0.0    0.0
1998      19485.0      0.0    0.0
1999      19495.0      0.0    0.0
2000          NaN      NaN    NaN

[2001 rows x 3 columns]

In [24]:
savetocsv(av_err (dataset1, dataset2,[]), 'Data/CSI/Ba133/CSI_Ba133_final.csv')