In [1]:
# eyyoo it's me again! :)
# in this one we want to find a way to "calibrate" our data, so this means we wish to find two distinctive peaks
# in the data and then associate the ADC channel to where those peaks happen in literature (in terms of energy)

In [ ]:
# what values are we looking for?

# Am241 (https://www.ld-didactic.de/software/524221en/Content/Appendix/Am241.htm, 
# https://inis.iaea.org/collection/NCLCollectionStore/_Public/29/041/29041560.pdf, 

## highest peak at 59.54keV and the second at 17.7


# Ba133 (https://www.sciencedirect.com/science/article/pii/S002955826081019X, 
# https://ehs.stanford.edu/wp-content/uploads/Ba-133-RSDS.pdf)

## highest peak at 31 keV and second at 79


# Co60 (https://en.wikipedia.org/wiki/Cobalt-60)

## hihgest peak at 1173.2 keV and second at 1332.5 (seek in the above 12k bin range, this si where they occur)


# Cs137 (https://ehs.stanford.edu/reference/cs-137-radionuclide-fact-sheet, 
# http://maximus.energy/index.php/2020/10/24/the-rich-physics-of-cs-137-gamma-spectrum/)

## highest peak at 32 keV and second is the gamm at 661.7


# Na22 (https://ehs.umich.edu/wp-content/uploads/2016/04/Sodium-22.pdf,
# https://www.ld-didactic.de/software/524221en/Content/Appendix/Na22.htm)

## highest peak at 511 keV and the second one is at 1274.5

In [ ]:
#np max it, remove the row and do np max again

In [2]:
import numpy as np
import pandas as pd

In [3]:
B_Am241 = pd.read_csv('Data/BGO/Am241/BGO_Am241_final.csv')
B_Ba133 = pd.read_csv('Data/BGO/Ba133/BGO_Ba133_final.csv')
B_Co60 = pd.read_csv('Data/BGO/Co60/BGO_C060_final.csv')
B_Cs137 = pd.read_csv('Data/BGO/Cs137/BGO_Cs137_final.csv')
B_Na22 = pd.read_csv('Data/BGO/Na22/BGO_Na22_final.csv')

C_Am241 = pd.read_csv('Data/CSI/Am241/CSI_Am241_final.csv')
C_Ba133 = pd.read_csv('Data/CSI/Ba133/CSI_Ba133_final.csv')
C_Co60 = pd.read_csv('Data/CSI/Co60/CSI_Co60_final.csv')
C_Cs137 = pd.read_csv('Data/CSI/Cs137/CSI_Cs137_final.csv')
C_Na22 = pd.read_csv('Data/CSI/Na22/CSI_Na22_final.csv')

L_Am241 = pd.read_csv('Data/LYSO/Am241/LYSO_Am241_final.csv')
L_Ba133 = pd.read_csv('Data/LYSO/Ba133/LYSO_Ba133_final.csv')
L_Co60 = pd.read_csv('Data/LYSO/Co60/LYSO_Co60_final.csv')
L_Cs137 = pd.read_csv('Data/LYSO/Cs137/LYSO_Cs137_final.csv')
L_Na22 = pd.read_csv('Data/LYSO/Na22/LYSO_Na22_final.csv')

In [4]:
L_Na22.head()

   Unnamed: 0  ADC channel  average  error
0           0       -495.0      0.0    0.0
1           1       -485.0      0.0    0.0
2           2       -475.0      0.0    0.0
3           3       -465.0      0.0    0.0
4           4       -455.0      0.0    0.0

In [94]:
def allthewayup(dataset, peak1, peak2, peakwidth = 150):
    '''
    I want this function to take the dataset, seek the highest two values of "average", which are the counts;
    and depending on the two peakvalues selected to make the distrinction, to establish the conversion rate;
    from "ADC channel" to energy in electron volts (eVs).
    
    It will have a quirk for the Co60 source, where the identified peaks have to be in a specific region above;
    the 12k channel region (this is clearly where they are by comparing the data obtained with literature)
    '''
    df_sort = dataset.sort_values(by=['average'], 
                              ascending=False, inplace=False)[['ADC channel']]
    
    # we first find the largest peak
    dp1 = df_sort.iloc[0]
    
    # we then want to remove the peak already found
    dp2 = df_sort[df_sort['ADC channel'] > peakwidth].iloc[0]
    
    conversiontable = pd.DataFrame()
    conversiontable['source1'] = dp1
    conversiontable['source2'] = dp2
    conversiontable[]
    
    return conversiontable

In [95]:
allthewayup(L_Na22, 30, 600)

             source1  source2
ADC channel      5.0   5795.0