In [1]:
from functions import av_err, savetocsv
import numpy as np
import pandas as pd

In [2]:
dataset_1 = pd.read_csv('Data/CSI/Ba133/GAMMA_Charge_Histo(Time 20)_06-09-23 Time 1147.csv', 
                        names = ['ADC channel','counts'], nrows = 5000)
dataset_2 = pd.read_csv('Data/CSI/Ba133/GAMMA_Charge_Histo(Time 20)_06-09-23 Time 1148.csv', 
                        names = ['ADC channel','counts'], nrows = 5000)
dataset_3 = pd.read_csv('Data/CSI/Ba133/GAMMA_Charge_Histo(Time 20)_06-09-23 Time 1151.csv', 
                        names = ['ADC channel','counts'], nrows = 5000)

In [7]:
print(dataset_3)

      ADC channel  counts
0             0.0     NaN
1             0.0     NaN
2             0.0     NaN
3             0.0     NaN
4             0.0     NaN
...           ...     ...
3496          0.0     NaN
3497          0.0     NaN
3498          0.0     NaN
3499          0.0     NaN
3500          NaN     NaN

[3501 rows x 2 columns]

In [3]:
av_err(dataset_1, dataset_2, dataset_3)

   ADC channel  counts  run2  run3
0       -495.0     2.0   4.0   NaN
1       -485.0     3.0   3.0   NaN
2       -475.0     2.0   1.0   NaN
3       -465.0     1.0   3.0   NaN
4       -455.0     3.0   6.0   NaN
   ADC channel  counts  run2  run3  average  error
0       -495.0     2.0   4.0   NaN      NaN    NaN
1       -485.0     3.0   3.0   NaN      NaN    NaN
2       -475.0     2.0   1.0   NaN      NaN    NaN
3       -465.0     1.0   3.0   NaN      NaN    NaN
4       -455.0     3.0   6.0   NaN      NaN    NaN

      ADC channel  average  error
0          -495.0      NaN    NaN
1          -485.0      NaN    NaN
2          -475.0      NaN    NaN
3          -465.0      NaN    NaN
4          -455.0      NaN    NaN
...           ...      ...    ...
1996      19465.0      NaN    NaN
1997      19475.0      NaN    NaN
1998      19485.0      NaN    NaN
1999      19495.0      NaN    NaN
2000          NaN      NaN    NaN

[2001 rows x 3 columns]

In [22]:
savetocsv(av_err(dataset_1, dataset_2, dataset_3), 'Data/CSI/Ba133/CSI_Ba133_final.csv')