In [1]:
from functions import av_err, savetocsv
import numpy as np
import pandas as pd

In [16]:
dataset_1 = pd.read_csv('Data/BGO/Cs137/GAMMA_Charge_Histo(Time 90)_06-09-23 Time 1358.csv', 
                        names = ['ADC channel','counts'], nrows = 5000)
dataset_2 = pd.read_csv('Data/BGO/Cs137/GAMMA_Charge_Histo(Time 90)_06-09-23 Time 1400.csv', 
                        names = ['ADC channel','counts'], nrows = 5000)
dataset_3 = pd.read_csv('Data/BGO/Cs137/GAMMA_Charge_Histo(Time 90)_06-09-23 Time 1402.csv', 
                        names = ['ADC channel','counts'], nrows = 5000)

In [17]:
av_err(dataset_1, dataset_2, dataset_3)

      ADC channel   average     error
0          -495.0  2.333333  1.333333
1          -485.0  1.333333  0.666667
2          -475.0  0.666667  1.333333
3          -465.0  0.666667  0.666667
4          -455.0  0.666667  1.333333
...           ...       ...       ...
3496      34465.0  0.000000  0.000000
3497      34475.0  0.000000  0.000000
3498      34485.0  0.000000  0.000000
3499      34495.0  0.000000  0.000000
3500          NaN       NaN       NaN

[3501 rows x 3 columns]

In [19]:
savetocsv(av_err(dataset_1, dataset_2, dataset_3), 'Data/BGO/Cs137/BGO_Cs137_final.csv')