In [1]:
from functions import av_err, savetocsv
import numpy as np
import pandas as pd

In [20]:
dataset_1 = pd.read_csv('Data/LYSO/Na22/GAMMA_Charge_Histo(Time 90)_06-09-23 Time 1259.csv', 
                        names = ['ADC channel','counts'], nrows = 5000)
dataset_2 = pd.read_csv('Data/LYSO/Na22/GAMMA_Charge_Histo(Time 90)_06-09-23 Time 1301.csv', 
                        names = ['ADC channel','counts'], nrows = 5000)
dataset_3 = pd.read_csv('Data/LYSO/Na22/GAMMA_Charge_Histo(Time 90)_06-09-23 Time 1303.csv', 
                        names = ['ADC channel','counts'], nrows = 5000)

In [21]:
print(dataset_3)

      ADC channel  counts
0          -495.0     0.0
1          -485.0     0.0
2          -475.0     0.0
3          -465.0     0.0
4          -455.0     0.0
...           ...     ...
3496      34465.0     0.0
3497      34475.0     0.0
3498      34485.0     0.0
3499      34495.0     0.0
3500          NaN     NaN

[3501 rows x 2 columns]

In [22]:
av_err(dataset_1, dataset_2, dataset_3)

   ADC channel  counts  run2  run3
0       -495.0     0.0   0.0   0.0
1       -485.0     0.0   0.0   0.0
2       -475.0     0.0   0.0   0.0
3       -465.0     0.0   0.0   0.0
4       -455.0     0.0   0.0   0.0
   ADC channel  counts  run2  run3  average  error
0       -495.0     0.0   0.0   0.0      0.0    0.0
1       -485.0     0.0   0.0   0.0      0.0    0.0
2       -475.0     0.0   0.0   0.0      0.0    0.0
3       -465.0     0.0   0.0   0.0      0.0    0.0
4       -455.0     0.0   0.0   0.0      0.0    0.0

      ADC channel  average  error
0          -495.0      0.0    0.0
1          -485.0      0.0    0.0
2          -475.0      0.0    0.0
3          -465.0      0.0    0.0
4          -455.0      0.0    0.0
...           ...      ...    ...
3496      34465.0      0.0    0.0
3497      34475.0      0.0    0.0
3498      34485.0      0.0    0.0
3499      34495.0      0.0    0.0
3500          NaN      NaN    NaN

[3501 rows x 3 columns]

In [23]:
    savetocsv(av_err(dataset_1, dataset_2, dataset_3), 'Data/LYSO/Na22/LYSO_Na22_final.csv')

   ADC channel  counts  run2  run3
0       -495.0     0.0   0.0   0.0
1       -485.0     0.0   0.0   0.0
2       -475.0     0.0   0.0   0.0
3       -465.0     0.0   0.0   0.0
4       -455.0     0.0   0.0   0.0
   ADC channel  counts  run2  run3  average  error
0       -495.0     0.0   0.0   0.0      0.0    0.0
1       -485.0     0.0   0.0   0.0      0.0    0.0
2       -475.0     0.0   0.0   0.0      0.0    0.0
3       -465.0     0.0   0.0   0.0      0.0    0.0
4       -455.0     0.0   0.0   0.0      0.0    0.0